* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
}
.card {
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;

    background-color: blueviolet;
    flex-direction: column;
    padding: 50px;
    cursor: pointer;
}
.card:active {
    transform: scaleY(1.5);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.id-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
